/* Fonts */
@font-face {
  font-family: "Inconsolata";
  src: url("./styles/fonts/inconsolata.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./styles/fonts/montserrat.ttf");
}

/* General */
*, .input-file {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Montserrat";
}

.heading {
  font-family: "Inconsolata";
  font-size: 25px;
  width: 51%;
  margin-top: 2%;
}

.text-wrapper {
  text-align: center;
}

form, p {
  display: inline-block;
  text-align: left;
  width: 51%;
  margin-top: 5px;
}

button, .link-button {
  font-family: "Montserrat";
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-align: center;
  width: 42%;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

.link-button {
  display: block;
  width: 11%;
  margin-top: 20px;
  margin-left: 24.5%;
}

.link-button a {
  color: white;
}

.form-input {
  border-bottom: 1px solid black;
  font-family: "Montserrat";
  font-size: 15px;
  height: 40px;
  width: 1000px;
}

.input-file {
  margin-top: 10px;
}