/* General */
p {
  font-size: 1.5rem;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.content {
  flex-grow: 1;
}

.animated-btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.animated-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.animated-btn:hover span {
  padding-right: 25px;
}

.animated-btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* Navigation */
.navigation {
  background: var(--colour-cod-grey);
}

.nav-header {
  padding: 5%;
}

.logo {
  height: 20%;
  width: 20%;
}

.link {
  height: 15%;
  width: 15%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.avatar {
  border: 1px solid var(--colour-silver);
  border-radius: 25px;
  margin-left: 5%;
  margin-bottom: 2.5%;
}

/* Footer */
.footer {
  background-color: var(--colour-cod-grey);
  color: var(--colour-white);
  text-align: center;
  margin-top: 8%;
  padding: 2rem;
}

/* Home */
.header {
  background-color: var(--colour-cod-grey);
  display: flex;
  padding: 5%;
}

.docupay-logo {
  height: 5rem;
  width: 5rem;
}

.sign-in-btn {
  font-family: "Assistant";
  background-color: var(--colour-apricot);
  color: var(--colour-white);
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 12rem;
  margin-top: 5%;
  margin-left: 25%;
  transition: all 0.5s;
  cursor: pointer;
}

.sign-in-btn span {
  display: inline-block;
  position: relative;
  top: -10px;
  transition: 0.5s;
}

.sign-in-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sign-in-btn:hover span {
  padding-right: 25px;
}

.sign-in-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.metamask-logo {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}

.home-graphics {
  color: var(--colour-mandarin);
  height: 70%;
  width: 70%;
  margin-top: 10%;
  margin-left: 15%;
}

.home-col-right {
  width: 90%;
  margin: auto;
}

/* Upload */
.upload .heading {
  display: flex;
  margin-top: 4%;
  margin-left: 3%;
}

.upload .heading .icon {
  height: 10%;
  width: 10%;
}

.upload .heading h1 {
  margin-top: -1%;
  margin-left: 3%;
}

.upload-heading {
  font-weight: bold;
  display: flex;
  margin-left: 3%;
  margin-bottom: 2%;
}

.upload-field {
  font-family: "Assistant";
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid var(--colour-cod-grey);
  height: 2rem;
  width: 90%;
  margin-left: 3%;
  margin-bottom: 5%;
  padding: 1%;
  outline: 0;
}

.upload-field:focus {
  border-bottom: 1px solid var(--colour-mandarin);
  transition: all 0.5s;
}

#fee {
  width: 50%;
}

#description {
  height: 10rem;
}

.upload-field.file {
  border: 0;
}

.upload-btn {
  font-family: "Assistant";
  font-size: 1.2rem;
  background-color: var(--colour-mandarin);
  color: var(--colour-white);
  border-radius: 5px;
  width: 50%;
  margin-left: 3%;
  padding: 1rem;
  cursor: pointer;
}

/* Feed */
.feed-items {
  margin: auto;
  width: 95%;
}

.feed-item {
  display: flex;
}

.feed-item .left-col {
  text-align: center;
  flex: 10%;
  margin-top: 15%;
}

.feed-item .left-col p {
  margin: 0;
}

.feed-item .right-col {
  width: 80%;
}

.feed-item .right-col h1 {
  margin-bottom: 1%;
}

.feed-item .right-col p {
  margin-top: 1%;
  margin-bottom: 8%;
}

.feed-item .text-preview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.feed-icon.star {
  margin-top: 50%;
  cursor: pointer;
}

.starred {
  color: var(--colour-koromiko);
}

.feed-avatar {
  border: 1px solid var(--colour-silver);
  border-radius: 25px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: -5%;
}

.date {
  font-size: 1.2rem;
}

.date span {
  font-weight: bold;
}

.view-btn {
  font-family: "Assistant";
  font-size: 1.2rem;
  background-color: var(--colour-mandarin);
  border-radius: 5px;
  color: var(--colour-white);
  width: 80%;
  padding: 5%;
  cursor: pointer;
}

.btn-icon {
  margin-right: 5%;
  margin-bottom: -2.5%;
}

.btn-icon.hidden {
  display: none;
}

.feed-divider {
  width: 85%;
  margin-top: 10%;
}